

.biographyDark {
  background-color: #0a0a0a !important;
  color:white !important;
 /*  background-image: url("../../brandStyles/images/piePantsUp.jpg");
  background-repeat: no-repeat;
  background-size: auto 30vw;
  background-position: center;
} */
}