.socialBar {
  display: flex !important;
  justify-content: space-around !important;
  flex-wrap: wrap !important;
  align-items: stretch !important;
  margin-bottom: 10vh !important;
}

.socialIcons {
  width:6vw;
  height:6vw;
}