.tallNav {
  height:15vh !important;
}

.tallNav2 {
  height:15vh !important;
  margin-top:.5vh !important;
  margin-bottom:.5vh !important;
}

#HomePlayer {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

#homeVidContainer {
  max-height: 65vh !important;
  height:auto;
}

.navHomeFlex {
  display:flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
  align-items: stretch !important;
  float: none !important;
  font-weight: bold !important;
  color: black !important;
  height:15vh !important;
  margin: 0px !important;
}

.whiteNavBG {
  height:auto;
  width: auto;
  padding: 0px !important;
}

#homeTitle {
  width:40vw;
  height:auto;
  position: absolute;
  top: 5vh;
  left:30vw;
  z-index:100000;
}

#unmuteButton {
  position: absolute;
  top: 35vh;
  right:5vw;
  z-index:100001;
}

.iconImages {
  height:14vh;
  width:14vh !important;
  max-width: 14vh !important;
  margin-top: 0px !important;
}





 

#bioHomeNavIcon {
  background-image: url("../../brandStyles/images/navLogos/pieBio.png");
  background-size: 7vh auto;
  background-repeat: no-repeat;
  background-position: center;
}

#musicHomeNavIcon {
  background-image: url("../../brandStyles/images/navLogos/pieMusic.png");
  background-size: 7vh auto;
  background-repeat: no-repeat;
  background-position: center;
}

#videosHomeNavIcon {
  background-image: url("../../brandStyles/images/navLogos/pieGallery.png");
  background-size: 7vh auto;
  background-repeat: no-repeat;
  background-position: center;
}

#photosHomeNavIcon {
  background-image: url("../../brandStyles/images/navLogos/piePhotos.png");
  background-size: 7vh auto;
  background-repeat: no-repeat;
  background-position: center;
}

#blogHomeNavIcon {
  background-image: url("../../brandStyles/images/navLogos/pieBlog.png");
  background-size: 7vh auto;
  background-repeat: no-repeat;
  background-position: center;
}

#merchHomeNavIcon {
  background-image: url("../../brandStyles/images/navLogos/pieMerch.png");
  background-size: 7vh auto;
  background-repeat: no-repeat;
  background-position: center;
}

#pressHomeNavIcon {
  background-image: url("../../brandStyles/images/navLogos/piePress.png");
  background-size: 7vh auto;
  background-repeat: no-repeat;
  background-position: center;
}

#epkHomeNavIcon {
  background-image: url("../../brandStyles/images/navLogos/pieEPK.png");
  background-size: 7vh auto;
  background-repeat: no-repeat;
  background-position: center;
}

#contactHomeNavIcon {
  background-image: url("../../brandStyles/images/navLogos/pieContact.png");
  background-size: 7vh auto;
  background-repeat: no-repeat;
  background-position: center;
}