.galleryTile {
  max-width:23vw !important;
  max-height:30vh !important;
  margin-top:2vh !important;
  padding-right:1vw !important;
  padding-left:1vw !important;
}

.galleryClass {
   display: block !important;
   margin-top:5vw !important;
   width:80vw !important;
   margin-left: auto !important;
   margin-right: auto !important;

}